In [1]:
#import important libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing             import LabelEncoder
from sklearn.preprocessing             import StandardScaler
from sklearn.linear_model              import LogisticRegression
from sklearn.model_selection           import KFold, StratifiedKFold, train_test_split
from sklearn.metrics                   import mean_squared_error,roc_auc_score, accuracy_score, confusion_matrix, roc_curve, precision_score, recall_score, precision_recall_curve
from xgboost                           import XGBRegressor
import xgboost as xgb


import warnings
import os
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [2]:
os.getcwd()

'/Users/emeka/Desktop/code/GitHub/Taxi-duration-prediction'

## Read the file

In [3]:
#read the data file
df = pd.read_csv('nyc_taxi_trip_duration.csv')

In [4]:
#view the data head
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848

## Feature Engineering

In [5]:
df[['pickup_datetime','dropoff_datetime']] = df[['pickup_datetime','dropoff_datetime']].apply(lambda _: pd.to_datetime(_,format='%Y-%m-%d %H:%M:%S.%f', errors='coerce'))

In [6]:
new_df = pd.DataFrame({"pKyear": df['pickup_datetime'].dt.year,
              "Pkmonth": df['pickup_datetime'].dt.month,
              "pKday": df['pickup_datetime'].dt.day,
              "pKhour": df['pickup_datetime'].dt.hour,
              "pKdayofyear": df['pickup_datetime'].dt.dayofyear,
              "pKweek": df['pickup_datetime'].dt.week,
              "pKdayofweek": df['pickup_datetime'].dt.dayofweek,
              "pKdayofweekname": df['pickup_datetime'].dt.day_name(),
              "pKquarter": df['pickup_datetime'].dt.quarter,
              
              "dFyear": df['dropoff_datetime'].dt.year,
              "dFmonth": df['dropoff_datetime'].dt.month,
              "dFday": df['dropoff_datetime'].dt.day,
              "dFhour": df['dropoff_datetime'].dt.hour,
              "dFdayofyear": df['dropoff_datetime'].dt.dayofyear,
              "dFweek": df['dropoff_datetime'].dt.week,
              "dFdayofweek": df['dropoff_datetime'].dt.dayofweek,
              "dFdayofweekname": df['dropoff_datetime'].dt.day_name(),
              "dFquarter": df['dropoff_datetime'].dt.quarter,
             })
new_df.head()

,pKyear,Pkmonth,pKday,pKhour,pKdayofyear,pKweek,pKdayofweek,pKdayofweekname,pKquarter,dFyear,dFmonth,dFday,dFhour,dFdayofyear,dFweek,dFdayofweek,dFdayofweekname,dFquarter
0,2016,2,29,16,60,9,0,Monday,1,2016,2,29,16,60,9,0,Monday,1
1,2016,3,11,23,71,10,4,Friday,1,2016,3,11,23,71,10,4,Friday,1
2,2016,2,21,17,52,7,6,Sunday,1,2016,2,21,18,52,7,6,Sunday,1
3,2016,1,5,9,5,1,1,Tuesday,1,2016,1,5,10,5,1,1,Tuesday,1
4,2016,2,17,6,48,7,2,Wednesday,1,2016,2,17,6,48,7,2,Wednesday,1

In [7]:
complete_data = pd.concat([df, new_df], axis=1)
complete_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pKquarter,dFyear,dFmonth,dFday,dFhour,dFdayofyear,dFweek,dFdayofweek,dFdayofweekname,dFquarter
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,...,1,2016,2,29,16,60,9,0,Monday,1
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,...,1,2016,3,11,23,71,10,4,Friday,1
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,...,1,2016,2,21,18,52,7,6,Sunday,1
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,...,1,2016,1,5,10,5,1,1,Tuesday,1
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,...,1,2016,2,17,6,48,7,2,Wednesday,1

In [8]:
complete_data['duration'] = (complete_data['dropoff_datetime'][0] - complete_data['pickup_datetime'][0])

In [9]:
complete_data['duration'] = complete_data.apply(lambda x: (x['dropoff_datetime'] - x['pickup_datetime']).seconds, axis=1)

In [10]:
complete_data[['duration','trip_duration']]

        duration  trip_duration
0            400            400
1           1100           1100
2           1635           1635
3           1141           1141
4            848            848
...          ...            ...
729317       296            296
729318       315            315
729319       673            673
729320       447            447
729321      1224           1224

[729322 rows x 2 columns]

In [11]:
#check the data types
complete_data.dtypes

id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
pKyear                         int64
Pkmonth                        int64
pKday                          int64
pKhour                         int64
pKdayofyear                    int64
pKweek                         int64
pKdayofweek                    int64
pKdayofweekname               object
pKquarter                      int64
dFyear                         int64
dFmonth                        int64
dFday                          int64
dFhour                         int64
dFdayofyear                    int64
dFweek                         int64
dFdayofweek                    int64
dFdayofweekname               object
dFquarter                      int64
duration                       int64
dtype: object

In [12]:
#function to classify the records
#weekend is 1
#week day is 0
def rowclass(row):
    if row == 5 or row == 6:
        return 0 
    else:
        return 1

#apply the function rowclass
complete_data['is_weekday'] = complete_data['pKdayofweek'].apply(rowclass)

In [13]:
def haversine_array(lat1, lng1, lat2, lng2):
    '''
    The distance between the two cordinates on the earth
    '''
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    AVG_EARTH_RADIUS = 6371  # in km
    lat = lat2 - lat1
    lng = lng2 - lng1
    d = np.sin(lat * 0.5) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(lng * 0.5) ** 2
    h = 2 * AVG_EARTH_RADIUS * np.arcsin(np.sqrt(d))
    return h

def direction_array(lat1, lng1, lat2, lng2):
    '''
    This function gets the direction array of the the two locations 
    '''
    AVG_EARTH_RADIUS = 6371  # in km
    lng_delta_rad = np.radians(lng2 - lng1)
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    y = np.sin(lng_delta_rad) * np.cos(lat2)
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))

 
def dummy_manhattan_distance(lat1, lng1, lat2, lng2):
    '''
    This function gets manhatan distance from point 1 to point2
    '''
    a = haversine_array(lat1, lng1, lat1, lng2)
    b = haversine_array(lat1, lng1, lat2, lng1)
    return a + b

complete_data['manhattan_dist'] = dummy_manhattan_distance(complete_data['pickup_latitude'].values, 
                                                     complete_data['pickup_longitude'].values, 
                                                     complete_data['dropoff_latitude'].values, 
                                                     complete_data['dropoff_longitude'].values)



complete_data['haversine_distance'] = haversine_array(complete_data['pickup_latitude'].values, 
                                                     complete_data['pickup_longitude'].values, 
                                                     complete_data['dropoff_latitude'].values, 
                                                     complete_data['dropoff_longitude'].values)


complete_data['direction'] = direction_array(complete_data['pickup_latitude'].values, 
                                          complete_data['pickup_longitude'].values, 
                                          complete_data['dropoff_latitude'].values, 
                                          complete_data['dropoff_longitude'].values)

In [14]:
complete_data =complete_data.drop(['id','pickup_datetime','dropoff_datetime','store_and_fwd_flag','dFdayofweekname'], axis=1)
complete_data

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pKyear,Pkmonth,pKday,...,dFhour,dFdayofyear,dFweek,dFdayofweek,dFquarter,duration,is_weekday,manhattan_dist,haversine_distance,direction
0,2,1,-73.953918,40.778873,-73.963875,40.771164,400,2016,2,29,...,16,60,9,0,1,400,1,1.695591,1.199073,-135.634530
1,1,2,-73.988312,40.731743,-73.994751,40.694931,1100,2016,3,11,...,23,71,10,4,1,1100,1,4.635860,4.129111,-172.445217
2,2,2,-73.997314,40.721458,-73.948029,40.774918,1635,2016,2,21,...,18,52,7,6,1,1635,0,10.097884,7.250753,34.916093
3,2,6,-73.961670,40.759720,-73.956779,40.780628,1141,2016,1,5,...,10,5,1,1,1,1141,1,2.736801,2.361097,10.043567
4,1,1,-74.017120,40.708469,-73.988182,40.740631,848,2016,2,17,...,6,48,7,2,1,848,1,6.015427,4.328534,34.280582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729317,2,2,-73.965919,40.789780,-73.952637,40.789181,296,2016,5,21,...,13,142,20,5,2,296,0,1.184832,1.120223,93.403814
729318,1,1,-73.996666,40.737434,-74.001320,40.731911,315,2016,2,22,...,0,53,8,0,1,315,1,1.006314,0.728705,-147.443222
729319,1,1,-73.997849,40.761696,-74.001488,40.741207,673,2016,4,15,...,19,106,15,4,2,673,1,2.584748,2.298776,-172.335340
729320,1,1,-74.006706,40.708244,-74.013550,40.713814,447,2016,6,19,...,9,171,24,6,2,447,0,1.196141,0.846316,-42.964076
729321,2,4,-74.003342,40.743839,-73.945847,40.712841,1224,2016,1,1,...,17,1,53,4,1,1224,1,8.290533,5.945837,125.411205

### Scaling Numerical Features for Logistic Regression

Now, we remember that there are a lot of outliers in the dataset especially when it comes to previous and current balance features. Also, the distributions are skewed for these features if you recall from the EDA. We will take 2 steps to deal with that here:
* Log Transformation
* Standard Scaler

Standard scaling is anyways a necessity when it comes to linear models and we have done that here after doing log transformation on all balance features.

In [15]:
#check for any missing values
np.sum(pd.isnull(complete_data))

vendor_id             0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
trip_duration         0
pKyear                0
Pkmonth               0
pKday                 0
pKhour                0
pKdayofyear           0
pKweek                0
pKdayofweek           0
pKdayofweekname       0
pKquarter             0
dFyear                0
dFmonth               0
dFday                 0
dFhour                0
dFdayofyear           0
dFweek                0
dFdayofweek           0
dFquarter             0
duration              0
is_weekday            0
manhattan_dist        0
haversine_distance    0
direction             0
dtype: int64

In [16]:
#quick view of vendor count
complete_data.vendor_id.value_counts()

2    390481
1    338841
Name: vendor_id, dtype: int64

In [17]:
#Transform the vendor id
complete_data['vendor_id'] = complete_data.apply(lambda x: (x['vendor_id'] - 1), axis=1)

In [18]:
#view the complete data
complete_data

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pKyear,Pkmonth,pKday,...,dFhour,dFdayofyear,dFweek,dFdayofweek,dFquarter,duration,is_weekday,manhattan_dist,haversine_distance,direction
0,1,1,-73.953918,40.778873,-73.963875,40.771164,400,2016,2,29,...,16,60,9,0,1,400,1,1.695591,1.199073,-135.634530
1,0,2,-73.988312,40.731743,-73.994751,40.694931,1100,2016,3,11,...,23,71,10,4,1,1100,1,4.635860,4.129111,-172.445217
2,1,2,-73.997314,40.721458,-73.948029,40.774918,1635,2016,2,21,...,18,52,7,6,1,1635,0,10.097884,7.250753,34.916093
3,1,6,-73.961670,40.759720,-73.956779,40.780628,1141,2016,1,5,...,10,5,1,1,1,1141,1,2.736801,2.361097,10.043567
4,0,1,-74.017120,40.708469,-73.988182,40.740631,848,2016,2,17,...,6,48,7,2,1,848,1,6.015427,4.328534,34.280582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729317,1,2,-73.965919,40.789780,-73.952637,40.789181,296,2016,5,21,...,13,142,20,5,2,296,0,1.184832,1.120223,93.403814
729318,0,1,-73.996666,40.737434,-74.001320,40.731911,315,2016,2,22,...,0,53,8,0,1,315,1,1.006314,0.728705,-147.443222
729319,0,1,-73.997849,40.761696,-74.001488,40.741207,673,2016,4,15,...,19,106,15,4,2,673,1,2.584748,2.298776,-172.335340
729320,0,1,-74.006706,40.708244,-74.013550,40.713814,447,2016,6,19,...,9,171,24,6,2,447,0,1.196141,0.846316,-42.964076
729321,1,4,-74.003342,40.743839,-73.945847,40.712841,1224,2016,1,1,...,17,1,53,4,1,1224,1,8.290533,5.945837,125.411205

In [19]:
#Define the data colums for dependent and dependent variables
x = complete_data.drop(['duration', 'pKdayofweekname'], axis =1)
y = complete_data['duration']

In [20]:
def predict_score(model,independent,dependent):
    # Splitting the data into Train and Validation set
    xtrain, xtest, ytrain, ytest = train_test_split(X,independent,test_size=1/3, random_state=10)

In [21]:
def predict_score(model,independent,dependent):
    ''' This function collects and predicts the prediction 
    percent of the model on theindpendent and dependend variable given.
    It also performs root mean square of the predictions
    '''
    # Splitting the data into Train and Validation set
    xtrain, xtest, ytrain, ytest = train_test_split(independent,dependent,test_size=1/3, random_state=10)
    model.fit(xtrain,ytrain) #Here we fit training data to XGBoosting Regressor
    print('model :{}'.format({model}))
    print('-----------------------')
    print("Accuracy Score of XGBoost on testset",model.score(xtrain,ytrain)*100)
    predXg = model.predict(xtest)
    rmseXg   = np.sqrt(mean_squared_error(predXg,ytest))
    print('-----------------------')
    print('The RMSE Score for {} model is {}'.format(('PredXg'),(rmseXg)))

In [22]:
predict_score(xgb.XGBRegressor(),x,y)

model :{XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)}
-----------------------
Accuracy Score of XGBoost on testset 99.99992508771362
-----------------------
The RMSE Score for PredXg model is 15.698413093681499

**Notes** \
    * Our Prediction was 99.99% percent Accurate.\
    * Great Job.